@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: #F2F2F2;
}
section{
    display: grid;
    grid-template-columns:225px 255px 225px 255px;
    grid-template-rows: 315px 315px;
    row-gap: 10px;
    max-width: 100vw;
    padding: 100px;
    column-gap: 50px;
    height: 100vh;
    padding-top: 30px;
}
.daniel{
    background-color: #733FC8;
    padding: 20px;
    width: 550px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    height: 300px;
}
.title{
    display: flex;
    gap: 20px;
    align-items: center;
}
.quotes{
    position: absolute;
    left: 440px;
    top: 30px;
    width: 104px;
}
.name, .name1{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.name h6{
    font-size: 15px;
    font-weight: 500;
    line-height: 13px;
}
.name p{
    font-size: 13px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
}
.name1 h6{
    font-size: 15px;
    font-weight: 600;
    line-height: 13px;
    color:#48556A;
}
.name1 p{
    font-size: 13px;
    font-weight: 500;
    line-height: 11px;
    opacity: 0.5;
    color: #48556A;
}
.text p{
    font-size: 20px;
    z-index: 1;
    font-weight: 600;
    line-height: 24px;
}
.text, .textone{
    z-index: 1;
}
.textone p{
    font-size: 20px;
    z-index: 1;
    font-weight: 600;
    line-height: 24px;
    width: 500px;
}
.text4 p{
    font-size: 20px;
    z-index: 1;
    font-weight: 600;
    line-height: 24px;
    color:#48556A;
}
.text2 p{
    color: #CFCFCF;
    font-size: 14px;
    max-width: 500px;
    line-height: 18px;
    opacity: 0.7;
}
.text3 p{
    color:#48556A;
    font-size: 14px;
    max-width: 500px;   
    line-height: 18px;
    opacity: 0.7;
}
.jonathan{
    background-color: #48556A;
    width: 255px;
    grid-area: 1 / 3/ span2 /span2;
    padding: 40px;
    padding-left: 20px;
    height: 300px;
    padding-right: 20px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
    flex-direction: column;
}
.kira{
    background-color: white;
    grid-area: 1 / 4/ span2 /span1;
    width: 255px;
    height: 609px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.jeanette{
    background-color: white;
    border-radius: 15px;
    width: 255px;
    height: 280px;
    grid-area: 2 / 1/ span2 /span3;
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
.patrick{
    background-color: #19202D;
    grid-area: 2 / 2/ span1 /span1;
    width: 550px;
    border-radius: 15px;
    padding: 40px;
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
}
@media screen and (max-width: 768px){
    section{
        display: grid;
        grid-template-rows: 477px 315px 310px 457px 327px;
        grid-template-columns: repeat(1, 1fr);
        padding-top:30px;
        padding-right: 12.5%;
        row-gap: 10px;
        width: 100vw;
        height: fit-content;
        justify-content: center;
    }   
    .quotes{
        left: 190px;
    }
    .daniel{
        width: 317px;
        height: fit-content;
        row-gap: 10px;
    }
    .name{
        width: 100px;
        z-index: 1;
    }
    .jonathan{
        width: 317px;
        grid-area: 2/ 1/ span1 /span1;
    }
    .jeanette{
        width: 317px;
        grid-area: 3/ 1/ span1 /span1;
    }
    .patrick{
        width: 317px;
        height: fit-content;
        grid-area: 4/ 1/ span1 /span1;
    }
    .kira{
        width: 317px;
        grid-area: 5/ 1/ span1 /span1;
        height: fit-content;
    }
    .textone p{
        width: 280px;
    }
}